.MuiDialog-paperWidthSm {
  min-width: 500px;
  min-height: 200px;
  max-height: fit-content;
}

/* popover */
.MuiPopover-paper {
  min-width: 230px !important;

  min-height: 40px !important;
  max-height: 400px;
  overflow: auto;
}
@media (max-width: 840px) {
  .sideDrawer {
    left: -240px;
  }
  .sideDrawerOpen {
    left: 0px;
    z-index: 1000;
    top: 0 !important;
  }
  .cross {
    display: block !important;
  }
  .dashboard {
    width: 100% !important;
    padding-top: 0px;
  }
  .main {
    position: relative !important;
  }
}

@media (max-width: 767px) {
  .studentsHeaderButton {
    display: block !important;
    text-align: center;
    width: 100% !important;
  }
  .studentsHeaderButton button {
    max-width: 60%;
    padding: 10px;
    margin: 10px 0;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .dashboard {
    padding-bottom: 0;
  }
  .profileViewContainer {
    display: block !important;
  }
  .profileViewContainer .leftRightCards {
    width: 100%;
  }

  .dashboardHeader .normalText {
    font-size: 14px;
  }

  .dashboardHeader .boldText {
    font-size: 18px;
  }
  .dashboardHeader .btns {
    padding: 10px;
    font-size: 8px;
  }

  /* statistics card */
  .statisticsContainer {
    display: block !important;
  }
  .statisticsCard {
    width: 48% !important;
    display: inline-block;
  }
  /* generic card */
  .genericCardWrapper {
    display: block !important;
  }
  .genericCard {
    width: 100% !important;
  }
}

@media (max-width: 540px) {
  /* statistics card */

  .statisticsCard {
    width: 100% !important;
  }
  /* getStarted card */
  .displayBlock {
    display: block !important;
  }
  .getStartedCard {
    width: 100% !important;
    max-width: 100% !important;
    display: inline-block;
  }
  .classCard {
    width: 100% !important;
  }
  .fullBtn {
    max-width: 100% !important;
  }
}
@media (max-width: 400px) {
  /* input card */
  .MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .inputCard {
    width: 320px !important;
  }
}

/* flex class */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginationWrapper {
  width: 100%;
  margin: 20px 0;
}
.paginationBtns {
  border: none;
  outline: none;
  border-radius: 100%;
  font-size: 14px;
  padding: 10px;
  background: #fff;
  margin: 0 6px;
}
.paginationText {
  margin: 0 10px;
  font-size: 14px;
}

.yellowColor {
  color: #f8b62a;
}

/* react scheduler */

.e-schedule {
  border-radius: 10px;
}
.e-schedule .e-schedule-toolbar {
  height: 100px !important;
}
.e-schedule .e-schedule-toolbar .e-tbar-pos {
  height: 64px !important;
  background: black;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-left {
  top: 50px;
  width: 100%;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-left .e-next {
  position: absolute;
  right: 10px;
}
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn {
  background: none;
}
.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-left
  .e-tbar-btn.e-icon-btn:hover {
  background: none !important;
}
.e-toolbar
  .e-toolbar-items
  .e-toolbar-item
  .e-tbar-btn.e-btn
  .e-icons.e-btn-icon {
  color: #f8b62a;
}
.e-toolbar
  .e-toolbar-items
  .e-toolbar-item
  .e-tbar-btn.e-btn
  .e-icons.e-icon-prev::after {
  content: 'Previous';
  color: black;
}
.e-toolbar
  .e-toolbar-items
  .e-toolbar-item
  .e-tbar-btn.e-btn
  .e-icons.e-icon-next::before {
  content: 'Next';
  color: black;
}
.e-toolbar
  .e-toolbar-items
  .e-toolbar-item
  .e-tbar-btn.e-btn
  .e-icons.e-icon-next::after {
  content: '\e956';
}

.e-schedule .e-schedule-toolbar .e-date-range {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.e-schedule .e-schedule-toolbar .e-date-range .e-icon-down-arrow {
  display: none;
}

table {
  border-collapse: collapse !important;
}
td {
  border-right: 1px solid white !important;
}

.e-header-row td:nth-child(1) div:nth-child(1)::after {
  content: 'day';
}
.e-header-row td:nth-child(2) div:nth-child(1)::after {
  content: 'day';
}
.e-header-row td:nth-child(3) div:nth-child(1)::after {
  content: 'sday';
}
.e-header-row td:nth-child(4) div:nth-child(1)::after {
  content: 'nesday';
}
.e-header-row td:nth-child(5) div:nth-child(1)::after {
  content: 'rsday';
}
.e-header-row td:nth-child(6) div:nth-child(1)::after {
  content: 'day';
}
.e-header-row td:nth-child(7) div:nth-child(1)::after {
  content: 'urday';
}

.e-schedule .e-vertical-view .e-header-cells {
  color: #d8d5d5 !important;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day {
  color: #f8b62a;
}
.e-header-row .e-header-cells .e-header-date {
  margin-left: 10px;
  color: black !important;
  margin-top: 20px;
}

.e-schedule .e-vertical-view .e-header-cells .e-header-date {
  font-size: 12px;
  font-weight: 600;
}
/* current date */

.e-schedule .e-vertical-view .e-header-cells.e-current-day .e-header-date {
  background: #f8b62a;
  color: black;
  width: 30px;
  text-align: center;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* appointments */
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  background: #f8b62a !important;
  border: none;
  width: 100% !important;
}
.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item
  .e-tbar-btn
  .e-tbar-btn-text {
  color: #f8b62a;
}

.e-schedule .e-vertical-view .e-content-wrap table td {
  background: white;
}
